div {

	&.services_and_about_me {


	}

	#about-me {
		background-color: white;
		padding-bottom: 50px;
		.wrapper {

			h2 {

				@include proxima_black(25px);
				color: #d7dce0;
				text-transform: uppercase;
				border-top:10px solid #eb3f3c;
				padding-top: 45px;
				padding-left: 15px;
				margin-bottom: 40px;
			}

			.description {
				padding-left: 15px;
				padding-right: 15px;
				.photo-holder {
					margin-bottom: 30px;
					img {
						width: 100%;
						display: block;
					}

				}//photo-holder


				.text-holder {

					p {
						line-height: 20px;
						margin-bottom: 15px;
						strong {
							color:#595959;
							@include opensans_bold(15px);

						}
					}
				}//text-holder


				.link-holder {
					margin-top: 30px;
					ul {
						list-style: none;
						text-align: center;
						li {
							display: inline-block;
							margin-right: 10px;

							&:last-child {
								margin-left: 0;
							}

							a {


							}
						}
					}


					div {
						margin-top: 30px;
						a {

							display: block;
							@include botton-with-radius;

						}
					}

				}//link-holder
			}
		}



/* --------------------- media section ---------------------*/

		@media (min-width:$screen-xs) {
			padding-bottom: 40px;
			.wrapper {

				h2 {
					border-top:11px solid #eb3f3c;
					padding-left: 30px;
					padding-right: 30px;
				}

				.description {
					padding-left: 30px;
					padding-right: 30px;
					.photo-holder {

						img {

						}

					}//photo-holder


					.text-holder {

						p {
							line-height: 20px;
							margin-bottom: 20px;
							strong {

							}
						}
					}//text-holder


					.link-holder {
						margin-top: 25px;
						& > * {
							float: left;
							width: 50%;
						}

						ul {
							text-align: left;
							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {
							margin-top:0px;
							a {



							}
						}

					}//link-holder
				}
			}

		}//screen-xs


		@media (min-width:$screen-sm) {
			.wrapper {

				h2 {

				}

				.description {

					.photo-holder {

						img {

						}

					}//photo-holder


					.text-holder {

						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {

						ul {

							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {

							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-sm


		@media (min-width:$screen-md) {

			.wrapper {

				h2 {

				}

				.description {

					.photo-holder {

						img {

						}

					}//photo-holder


					.text-holder {

						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {

						ul {

							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {

							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-md

		@media (min-width:$screen-lg) {

			.wrapper {

				h2 {

				}

				.description {

					.photo-holder {

						img {

						}

					}//photo-holder


					.text-holder {

						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {

						ul {

							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {

							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-lg



	} //about_me

}