div {

	&.services_and_about_me {

		display: table;

	}

	#about-me {
		background-color: white;
		padding-bottom: 50px;
		.wrapper {

			h2 {

				@include proxima_black(25px);
				color: #d7dce0;
				text-transform: uppercase;
				border-top:10px solid #eb3f3c;
				padding-top: 45px;
				padding-left: 15px;
				margin-bottom: 40px;
			}

			.description {
				padding-left: 15px;
				padding-right: 15px;
				.photo-holder {
					margin-bottom: 30px;
					img {
						width: 100%;
						display: block;
					}

				}//photo-holder


				.text-holder {

					p {
						line-height: 20px;
						margin-bottom: 15px;
						strong {
							color:#595959;
							@include opensans_bold(15px);

						}
					}
				}//text-holder


				.link-holder {
					margin-top: 30px;
					ul {
						list-style: none;
						text-align: center;
						li {
							display: inline-block;
							margin-right: 10px;

							&:last-child {
								margin-left: 0;
							}

							a {


							}
						}
					}


					div {
						margin-top: 30px;
						a {

							display: block;
							@include botton-with-radius;

							&:hover {

								text-decoration: none;
								background-color: #eb3e3b;
								color: white;
								cursor: pointer;

							}
						}
					}

				}//link-holder
			}
		}



/* --------------------- media section ---------------------*/

		@media (min-width:$screen-xs) {
			padding-bottom: 40px;
			.wrapper {

				h2 {
					border-top:11px solid #eb3f3c;
					padding-left: 30px;
					padding-right: 30px;
				}

				.description {
					padding-left: 30px;
					padding-right: 30px;
					.photo-holder {

						img {

						}

					}//photo-holder


					.text-holder {

						p {
							line-height: 20px;
							margin-bottom: 20px;
							strong {

							}
						}
					}//text-holder


					.link-holder {
						margin-top: 25px;
						& > * {
							float: left;
							width: 50%;
						}

						ul {
							text-align: left;
							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {
							margin-top:0px;
							a {



							}
						}

					}//link-holder
				}
			}

		}//screen-xs


		@media (min-width:640px) {
			.wrapper {

				h2 {
					width: 52.34%;
				}

				.description {

					.photo-holder {
						padding-right: 15px;
						width: 50%;
						float: left;
						img {

						}

					}//photo-holder


					.text-holder {
						padding-left: 15px;
						width: 50%;
						float: left;
						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {
						clear: both;
						padding-top: 30px;
						margin-top:0;
						ul {
							padding-right: 15px;
							text-align: center;
							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {
							padding-left: 15px;
							a {
								display: inline-block;
								padding-left: 40px;
								padding-right: 40px;
							}
						}

					}//link-holder
				}
			}
		}//screen-sm


		@media (min-width:$screen-sm) {
			padding-bottom: 45px;
			.wrapper {

				h2 {
					width: 41.67%;
					border-top:20px solid #eb3f3c;
					font-size: 30px;
				}

				.description {
					position: relative;
					padding-left: 41.67%;
					.photo-holder {
						position: absolute;
						left:0;
						right:0;
						width: 41.67%;
						padding-left: 30px;
						img {

						}

					}//photo-holder


					.text-holder {
						width: 100%;
						float: right;
						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {
						width: 100%;
						float: none;
						padding-top: 10px;
						ul {
							width: 100%;
							float: none;
							text-align: left;
							padding-left: 15px;
							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {
							width: 100%;
							float: none;
							text-align: right;
							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-sm


		@media (min-width:$screen-md) {

			.wrapper {

				h2 {

				}

				.description {

					.photo-holder {

						img {

						}

					}//photo-holder


					.text-holder {

						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {

						ul {

							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {

							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-md

		@media (min-width:$screen-lg) {
			width: 46.33%;
			float: left;
			padding-bottom: 0;
			overflow: hidden;
			.wrapper {
				height: 620px;
				h2 {
					width: 100%;
					border-width: 40px;
					padding-top: 25px;
				}

				.description {
					padding-left: 32.55%;
					.photo-holder {
						width: 32.55%;
						overflow: hidden;
						padding-left: 0;
						padding-right: 0;
						img {
							display: block;
							width: 240%;
							position: relative;
							right: 90%;
						}

					}//photo-holder


					.text-holder {

						p {

							strong {

							}
						}
					}//text-holder


					.link-holder {

						ul {

							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {

							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-lg

		@media (min-width:$screen-vb) {
			width: 42.9%;

			.wrapper {
				height: 730px;
				h2 {
					padding-top: 50px;
					border-width: 60px;
					font-size: 40px;
					margin-bottom: 0;
				}

				.description {
					padding-left: 34.25%;
					.photo-holder {
						width: 34.25%;
						overflow: hidden;
						padding-left: 0;
						padding-right: 0;
						img {
							display: block;
							width: 240%;
							position: relative;
							right: 90%;
						}

					}//photo-holder


					.text-holder {
						padding-left: 55px;
						padding-top: 40px;
						p {
							font-size: 16px;
							line-height: 22px;
							margin-bottom: 30px;
							strong {
								font-size: 16px;
								line-height: 22px;
							}
						}
					}//text-holder


					.link-holder {
						padding-top: 0;
						ul {
							padding-left: 50px;
							li {


								&:last-child {

								}

								a {


								}
							}
						}


						div {
							margin-top: 35px;
							a {



							}
						}

					}//link-holder
				}
			}
		}//screen-lg

	} //about_me

}