#all-services {
	background-color: #f6f8f9;
	padding-top: 45px;
	padding-bottom: 50px;
	& > div {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-wrapper {
		margin-bottom: 35px;

		h2 {
			margin: 0;
			height: 63px;
			& > span {
				height: inherit;
				display: inline-block;

				&:first-child {
					width: 115px;
					color:#eb3f3c;
					@include arquitecta_black(96px);
					line-height: 63px;
				}

				&:last-child {
					width: 175px;
					color: #d7dce0;
					@include proxima_black(27px);
					line-height: 21px;
					text-transform: uppercase;
				}
			}

		}
	}// header -wrapper


	& > .text-wrapper {



		& > .text-holder {
			text-align: left;
			p{

			}

		}


		& > div:last-child {
			text-align: center;
			margin-top: 30px;
			& > a {
				@include botton-with-radius;
				display: block;

				&:hover {
					text-decoration: none;
					background-color: #eb3e3b;
					color: white;
				}
			}
		}


	}

/* --------------------- media section ---------------------*/

	@media (min-width:$screen-xs) {

		& > div {
			padding-left: 30px;
			padding-right: 30px;
		}

		.header-wrapper {

			h2 {


			}
		}// header -wrapper

		& > .text-wrapper {



			& > div:last-child {
				text-align: left;
				& > a {
					display: inline-block;
					padding-right: 40px;
					padding-left: 40px;

				}

			}//text-wrapper

		}

	}//media xs


	@media (min-width:$screen-sm) {

		.header-wrapper {

			h2 {


			}
		}// header -wrapper

		& > .text-wrapper {

			&:last-child {

				.text-holder {

					p{

					}

				}


				&:last-child {

					& > a {


					}
				}
			}//last child

		}

	}//media sm


	@media (min-width:$screen-md) {
		padding-top: 60px;
		.header-wrapper {

			padding-right: 0px;
			width: 41.67%;
			float: left;

			h2 {
				& > span {

					&:first-child {
						font-size: 120px;
						width: 140px;
					}

					&:last-child {
						font-size: 33px;
						width: 215px;
						line-height: 25px;
					}

				}

			}//h2
		}// header-wrapper





		& > .text-wrapper {

			width: 58.33%;
			float: right;
			margin-top: 0px;
			padding-left: 15px;
			.text-holder {

				p{

				}

			}


			&:last-child {

				& > a {

				}
			}

		}//last child



	}//media md


	@media (min-width:$screen-lg) {
		padding-bottom: 60px;
		padding-top: 30px;
		clear:both;
		&  > .header-wrapper {
			width: 47%;
			h2 {
				text-align: right;
				padding-right: 55px;

				& > span {
					&:last-child {
						text-align: left;
					}
				}

			}
		}// header -wrapper

		& > .text-wrapper {
			width: 53%;
			padding-left: 0;


			.text-holder {

				p{

				}

			}


			& > div:last-child {
				margin-top:28px;
				& > a {
					margin-top: 0px;
				}
			}


		}

	}//media xs

}//all-services