#clients {
	background-color: #eb3f3c;

	& > .header-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 45px;

		h2 {
			color: white;
			@include proxima_black(25px);
			text-transform: uppercase;
		}
	}

	.slide-holder {
		margin-top: 50px;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 60px;
		.slides {

			.slide {
				display: table;
				padding-left: 10px;
				padding-right:10px ;
				div {
					display: table-cell;
					vertical-align: middle;
					& > img  {
						display: inline-block;
						width: 100%;
					}
				}



			}//slides

			.slick-dots {
				bottom: -50px;

				li {
					margin:0;
					button {
						width: 10px;
						height: 10px;
						border:2px solid;
						border-color: #ffa09f;
						border-radius: 6px;
						padding: 0;


						&:before {
							display: none;
						}

					}

					&.slick-active {

						button {
							background-color: #ffa09f;
							border-radius: 7px;

						}
					}
				}

			}

		}//slides

	}//slide-holder


	/* --------------------- media section ---------------------*/

	@media (min-width:$screen-xs) {
		& > .header-wrapper {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	@media (min-width:640px) {

		& > .header-wrapper {
			padding-top: 0px;
		}

		& > .slide-holder {
			padding-bottom: 45px;
		}


	}//media-640px

	@media (min-width:$screen-md) {

		& > .header-wrapper {

			& > h2 {
				font-size: 30px;
			}
		}

	}

	@media (min-width:$screen-lg) {

		& > .header-wrapper {
			padding-left: 85px;
			padding-right: 85px;
			& > h2 {
				font-size: 30px;
			}
		}

		& > .slide-holder {
			padding-right: 85px;
			padding-left: 85px;
		}

	}



	@media (min-width:$screen-vb) {

		& > .header-wrapper {
			width: 1450px;
			margin-left:auto;
			margin-right: auto;


			& > h2 {
				font-size: 40px;
			}
		}

		& > .slide-holder {
			width: 1450px;
			margin-left:auto;
			margin-right: auto;

			.slides {

				.slide {

					.img-holder {


						& > img {
							display: block;

							&.sm {
								width: 65px;
							}

							&.md {
								width: 90px;
							}

							&.lg {
								width: 130px;
							}

						}
					}
				}
			}

		}

	}
}