footer {
	background-color: #26292c;
	padding-top: 25px;
	padding-bottom: 25px;
	& > .wrapper {
		padding-right: 15px;
		padding-left: 15px;
		.right {

			ul {
				list-style: none;
				text-align: center;
				li {
					display: inline-block;
					width: 50px;
					height: 50px;
					margin-right: 4px;

					&:last-child {
						margin-left: 0;
					}

					a {
						display: block;
						text-align: center;
						line-height: 48px;
						color:#41484e;
						border: 2px solid #41484e;
						border-radius: 50%;
						font-size: 21px;
						width: 50px;
						height: 50px;

						&:focus{
							outline: none;
						}

					}
				}
			}
		}

		.left {
			margin-top: 20px;
			text-align: center;
			span {
				display: block;
				color: #5a6167;
			}

		}

	}


	/* --------------------- media section ---------------------*/

	@media (min-width:$screen-xs) {

		& > .wrapper {

			.right {

				ul {

					li {

						a {

							img {


							}
						}
					}
				}
			}

			.left {

				span {

				}

			}

		}

	}//media-xs


	@media (min-width:640px) {
		padding-bottom: 15px;
		& > .wrapper {
			padding-right: 30px;
			padding-left: 30px;
			& > div {
				width: 50%;
			}
			.right {
				float: left;

				ul {
					text-align: left;
					li {
						margin-right: 3px;
						a {

							img {

							}
						}
					}
				}
			}

			.left {
				width: 50%;
				float: right;
				text-align: right;
				margin-top: 5px;
				span {

				}

			}

		}
	}


	@media (min-width:$screen-sm) {

		& > .wrapper {

			.right {

				ul {

					li {

						a {

							img {


							}
						}
					}
				}
			}

			.left {

				span {

				}

			}

		}

	}//media-sm

	@media (min-width:$screen-md) {

		& > .wrapper {

			.right {

				ul {

					li {

						a {

							img {


							}
						}
					}
				}
			}

			.left {

				span {

				}

			}

		}

	}//media-md


	@media (min-width:$screen-lg) {

		& > .wrapper {
			padding-right: 85px;
			padding-left: 85px;
			.right {

				ul {

					li {

						a {

							img {


							}
						}
					}
				}
			}

			.left {

				span {

				}

			}

		}

	}//media-lg

}