#recent-news {
	padding-top: 45px;
	padding-left: 15px;
	padding-right:15px;
	padding-bottom: 70px;
	background-color: white;
	.header-wrapper {

		h2 {
			@include proxima_black(25px);
			color:#4d4d4d;
			text-transform: uppercase;
		}
	}


	.content-wrapper {
		margin-top: 45px;
		#carousel-news {

			.carousel-inner {
				height: 320px;
				width: 100%;
				border:2px solid #d8dde1;
				border-radius: 5px;
				background:none;
				max-width: 320px;

				.item {
					padding: 25px 15px;
					&:focus {
						outline: none;
					}
					.item-head {
						div {

							&:first-child {
								float: left;
								h5 {
									@include opensans_semibold(16px);
									color:#eb3f3c;
									line-height: 22px;
									margin-bottom: 0;
									margin-bottom: 0;
								}

								p{
									@include opensans_light(16px);
									line-height: 22px;
								}
							}


							&:last-child {
								position: relative;
								float: right;

								.heart {
									display: block;
									height: 50px;
									width: 50px;
									border:2px solid #eb3f3c;
									border-radius: 24px;
									background: url("/images/news_heart.png") center center no-repeat;
									position: relative;
									& > span {

										position: absolute;
										display: block;
										background-color:#eb3f3c;
										color: white;
										@include proxima_bold(12px);
										padding-left: 5px;
										padding-right: 5px;
										padding-top: 2px;
										padding-bottom: 2px;
										border-radius: 10px;
										bottom: 0px;
										left:-18px;
									}
								}



							}

						}
					}//item-head


					.item-text {

						h4 {
							@include proxima_bold(25px);
							color:#eb3f3c;
						}

						p {

						}
					}


				}//item



			}//carousel-inner

			.slick-dots {
				bottom: -50px;
				li {
					margin: 0;
					button {
						width: 10px;
						height: 10px;
						border:2px solid;
						border-color: #d9dee1;
						border-radius: 6px;
						padding: 0;


						&:before {
							display: none;
						}

					}

					&.slick-active {

						button {
							background-color: #60707c;
							border-color:#60707c;
							border-radius: 7px;

						}
					}
				}

			}

		}//#carousel-news


	}



/* --------------------- media section ---------------------*/

	@media (min-width:$screen-xs) {


		.header-wrapper {

			h2 {

			}
		}

		.content-wrapper {


			#carousel-news {

				.carousel-inner {
					//border: none;
					margin-right: auto;
					margin-left: auto;
					.slick-list {
						overflow: visible;
						.item {
							margin-right: 20px;
							padding-right: 0px;
							margin-left: 20px;
							padding-left: 0px;
							.item-head {

								div {

									&:first-child {

										h5 {

										}

										p {

										}
									}

									&:last-child {

										.heart {

											& > span {

											}
										}

									}

								}
							}
							//item-head

							.item-text {

								h4 {
									@include proxima_bold(25px);
									color: #eb3f3c;
								}

								p {

								}
							}

						}//item

					}//slick list

				}//carousel-inner

			}//#carousel-news


		}

	}//media xs

	@media (min-width:$screen-sm) {

		.header-wrapper {

			h2 {

			}
		}

		.content-wrapper {


			#carousel-news {

				.carousel-inner {


					.item {


						.item-head {

							div {

								&:first-child {

									h5 {

									}

									p{

									}
								}


								&:last-child {

									.heart {

										& > span {

										}
									}

								}

							}
						}//item-head


						.item-text {

							h4 {
								@include proxima_bold(25px);
								color:#eb3f3c;
							}

							p {

							}
						}


					}//item

				}//carousel-inner



			}//#carousel-news


		}

	}//media sm

	@media (min-width:$screen-md) {

		.header-wrapper {

			h2 {

			}
		}

		.content-wrapper {


			#carousel-news {

				.carousel-inner {


					.item {


						.item-head {

							div {

								&:first-child {

									h5 {

									}

									p{

									}
								}


								&:last-child {

									.heart {

										& > span {

										}
									}

								}

							}
						}//item-head


						.item-text {

							h4 {
								@include proxima_bold(25px);
								color:#eb3f3c;
							}

							p {

							}
						}


					}//item

				}//carousel-inner



			}//#carousel-news


		}

	}//media md

	@media (min-width:$screen-lg) {

		.header-wrapper {

			h2 {

			}
		}

		.content-wrapper {


			#carousel-news {

				.carousel-inner {


					.item {


						.item-head {

							div {

								&:first-child {

									h5 {

									}

									p{

									}
								}


								&:last-child {

									.heart {

										& > span {

										}
									}

								}

							}
						}//item-head


						.item-text {

							h4 {
								@include proxima_bold(25px);
								color:#eb3f3c;
							}

							p {

							}
						}


					}//item

				}//carousel-inner



			}//#carousel-news


		}

	}//media lg


}