#top-section {

    .wrapper {

        .menu {

            li {

                a {


                }
            }


        }//menu


        .menu-button {

            a {
                display:block;
                width: 50px;
                height: 50px;
                border:2px solid #d7dce0;
                border-radius: 50%;
                span {
                    display: block;
                    width: 18px;
                    margin-left: auto;
                    margin-right: auto;
                    height: 2px;
                    background-color: #d7dce0;
                    margin-bottom: 4px;

                    &:first-child {
                        margin-top: 16px;
                    }
                }

                &:hover {
                    border-color:#eb3e3b;

                    span {
                        background-color: #eb3e3b;
                    }
                }
            }//a
        }

    }//wrapper


/* --------------------- media section ---------------------*/

    @media (min-width:$screen-xs) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu


            .menu-button {

                a {

                    span {


                    }
                }
            }

        }//wrapper
    }

    @media (min-width:$screen-sm) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu


            .menu-button {

                a {

                    span {


                    }
                }
            }

        }//wrapper
    }

    @media (min-width:$screen-md) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu


            .menu-button {

                a {

                    span {


                    }
                }
            }

        }//wrapper
    }

    @media (min-width:$screen-lg) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu


            .menu-button {

                a {

                    span {


                    }
                }
            }

        }//wrapper
    }

}//top-section