#top-section {
    display: none;
    background-color: #eb3e3b;
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow-y: scroll;
    .wrapper {
       padding-top: 40px;
        padding-left: 30px;

        .menu {

            & > li  {
                display: inherit;
                margin-bottom: 25px;
                a {
                    @include opensans_bold(15px);
                    color: white;
                }
            }


        }//menu



    }//wrapper


/* --------------------- media section ---------------------*/

    @media (min-width:$screen-xs) {
        width: 360px;
        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu




        }//wrapper
    }

    @media (min-width:$screen-sm) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu




        }//wrapper
    }

    @media (min-width:$screen-md) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu




        }//wrapper
    }

    @media (min-width:$screen-lg) {

        .wrapper {

            .menu {

                li {

                    a {


                    }
                }


            }//menu




        }//wrapper
    }

}//top-section


#main-wrapper {
    position: relative;
    height: 800px;
    z-index: 20;
    background-color: white;
    transform: translate3d( 0, 0, 0 ); /* X, Y, Z */
    -webkit-transform: translate3d( 0, 0, 0 );
}

#menu-button {
    position: fixed;
    top:20px;
    right:20px;
    z-index: 40;
    a {

        display:block;
        width: 50px;
        height: 50px;
        border:2px solid #d7dce0;
        border-radius: 50%;
        position: relative;
        transform: rotate(0deg);
        transition: transorm .3s ease-in-out;
        span {
            display: block;
            width: 18px;
            margin-left: auto;
            margin-right: auto;
            height: 2px;
            background-color: #d7dce0;
            margin-bottom: 4px;
            transition: transform .3s ease-in-out;
            transform: rotate(0deg);
            &:first-child {
                margin-top: 16px;
            }
        }

        &:hover {
            border-color:#eb3e3b;

            span {
                background-color: #eb3e3b;
            }
        }


        &:focus {
            outline: none;
        }
    }//a
}

// animation

.animating {

    #top-section {
        display: block;

    }

    #main-wrapper {
        transition: transform .4s ease-in-out;
        -webkit-transition: -webkit-transform .4s ease-in-out;
    }

    #menu-button {

        a {

            border-color: white;

            span {

                background-color: white;

            }

            &:hover {
                border-color:#d7dce0;

                span {
                    background-color: #d7dce0;
                }
            }
        }//a
    }//menu-button


    &.left {

        #main-wrapper {
            transform: translate3d( -100%, 0, 0 );
            -webkit-transform: translate3d( -100%, 0, 0 );
        }
    }

    &.right {

        #main-wrapper {

            transform: translate3d( 100%, 0, 0 );
            -webkit-transform: translate3d( 100%, 0, 0 );

        }

    }


    @media (min-width:$screen-xs) {


        &.left {

            #main-wrapper {
                transform: translate3d( -360px, 0, 0 );
                -webkit-transform: translate3d( -360px, 0, 0 );
            }
        }

        &.right {

            #main-wrapper {

                transform: translate3d( 360px, 0, 0 );
                -webkit-transform: translate3d( 360px, 0, 0 );

            }

        }


    }

}// animating

.menu-visible {

    #main-wrapper {

        right: 100%;
    }

    #menu-button {

        a {

            border-color: white;

            span {

                background-color: white;

                &:nth-child(1) {
                    transform: rotate(135deg);
                    position: absolute;
                    top:5px;
                    left:15px;
                }

                &:nth-child(2) {
                    position: relative;
                    opacity: 0;
                    left: -60px;
                }

                &:nth-child(3) {
                    transform: rotate(-135deg);
                    position: absolute;
                    top: 21px;
                    left: 15px;
                }

            }

            &:hover {
                border-color:#d7dce0;

                span {
                    background-color: #d7dce0;
                }
            }
        }//a
    }//menu-button

    #top-section {
        display: block;
    }

    @media (min-width:$screen-xs) {

        #main-wrapper {

            right: 360px;
        }

    }

}