@import '_bootstrap';

@import '_fonts';



/*--------------------- my code begining ------------------*/


@mixin botton-with-radius {
	height: 50px;
	border: 2px solid #eb3e3b;
	border-radius: 25px;
	text-align: center;
	@include opensans_bold(14px);
	color: #454545;
	text-transform: uppercase;
	line-height: 48px;
}



* {
	margin:0;
	padding: 0;
}

body {
	position: relative;
	win-width:320px;
    @include opensans_light(15px);
    color:#595959;

	h1, h2, h3, h4 {
		margin-bottom: 0;
		margin-top: 0;
	}
}



@import "_top_section";

@import "_header";

@import "_recent-projects";

@import "_about_me";

@import "_services";

@import "_all_services";

@import "slick";

@import "slick-theme";

@import "_recent_news";

@import "_triangle";

@import "_clients";



